/* GENERAL */

:root {
  --orange-main-color: #ec5242;
  --blue-main-color: #272a31;
  --gray-main-color: #d3d3d3;
  --lato: "Lato", sans-serif;
  --coco: "cocogooseregular", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  min-width: 315px;
}

/* Navbar Rules */

nav {
  background-color: rgba(255, 255, 255, 0.836);
  height: 60px;
  top: 0;
  width: 100%;
  padding: 0 15px;
  position: sticky;
  z-index: 30;
}

.nav-logo {
  height: 65px;
  width: 150px;
}

.nav-small-logo {
  height: 60px;
}

.dropdown-toggle::after {
  content: none !important;
}

.hamburguer {
  padding: 10px;
  height: 50px;
  width: 59px;
  border-radius: 5px;
}

.dot {
  color: var(--blue-main-color);
  display: inline-block;
}

.hamburguer:focus {
  outline: none;
}

.line {
  background-color: var(--blue-main-color);
  width: 30px;
  height: 4px;
  margin: auto;
}

.join {
  padding: 10px;
  color: white;
  font-weight: bolder;
  background-color: var(--blue-main-color);
  border-radius: 5px;
}

h1,
h2 {
  margin-top: 10px;
  font-family: "cocogooseregular", sans-serif;
}

/* Main Area */

main {
  height: fit-content;
  background-image: url("/assets/images/vide-game.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 60px);
  min-height: 620px;
  overflow: hidden;
}

.background-gradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.85) 0%,
    rgba(255, 255, 255, 0.96) 40%,
    rgba(255, 255, 255, 0.9) 60%,
    rgba(39, 42, 49, 0.85) 90%
  );
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

.main-content {
  width: 80%;
  height: fit-content;
  margin: auto;
  max-width: 1200px;
}

h1 {
  font-size: 40px;
  font-weight: 900;
  color: var(--orange-main-color);
}

h2 {
  color: var(--blue-main-color);
  font-size: 20px;
}

.join-experience {
  background-color: var(--orange-main-color);
  color: white;
  padding: 15px 10px;
  margin-top: 20px;
  border-radius: 15px;
  width: 200px;
  font-family: "cocogooseregular", sans-serif;
}

.load-image {
  position: absolute;
  left: 45%;
  top: 0;
  width: 95px;
}

.about {
  padding: 25px 0px 0px;
}

.about p {
  border-radius: 10px;
  background-color: white;
  padding: 10px 25px;
  z-index: 10;
}

.date,
.local {
  display: block;
  font-weight: bold;
  color: gray;
  font-size: 15px;
  margin: 10px 0px;
}

.local-date-img {
  width: 24px;
  margin-right: 10px;
}

/* Events Area */
.events {
  background-color: #272a31;
  color: white;
  padding: 20px 15px;
}

.event-item {
  height: 180px;
  border-radius: 5px;
  box-shadow: 0 0 2px #272a31, 0 0 10px #fff;
  margin: 20px;
  padding: 0px 10px;

}

.event-wrapper {
  margin: auto;
}

.event-item p {
  text-align: left;
  max-width: 220px;
  margin: 0px;
}

.events h4 {
  color: white;
  font-family: var(--coco);
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.titles-events {
  width: 150px;
  margin: 25px auto 20px;
}

.events h5 {
  
  text-align: left;
  padding: 3px 10px;
  color: var(--orange-main-color);
  font-family: 'cocogooselight';
  font-size: 15px;
  width: 86px;
}

.event-item-img {
  margin-top: 3px;
  height: 30px;
}

.effect {
  display: block;
  width: 40px;
  margin: auto;
  height: 5px;
  background-color: var(--orange-main-color);
}

.events h4:hover + .effect {
  width: 150px;
  transition: width 2s;
}

.event-item a:hover {
  text-decoration: none;
}

.see-all {
  text-align: center;
  margin: 20px 0px;
  color: white;
  font-family: 'cocogooselight' , sans-serif;
}

.see-all:hover {
  text-decoration: white underline;
}


/* font-family: 'Lato', sans-serif; */
@media (min-width: 768px) {
  /* NavBar Media */

  nav {
    height: 65px;
  }

  .join-first {
    display: none;
  }

  .load-image {
    left: 95%;
  }

  .dropdown-area {
    display: none;
  }

  .right a {
    font-weight: bold;
    color: var(--blue-main-color);
  }

  .right li {
    margin-left: 10px;
  }



  /* Main Area Media */

  main {
    min-height: 680px;
  }

  h1 {
    font-size: 70px;
    max-width: 725px;
  }

  h2 {
    font-size: 35px;
    max-width: 725px;
  }

  .about {
    max-width: 725px;
    padding-top: 40px;
  }

  .date,
  .local {
    font-size: 20px;
  }

  /* Events Media  */

  .events {
    width: 100%;
  }

  .event-item {
    height: 280px;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px;
    width: 20%;
    padding: 4px;
  }

  .event-item-img {
    height: 50px;
  }

  .event-item h4 {
    font-size: 20px;
  }

  .event-item h5 {
    text-align: center;
  }

  .event-item p{
    text-align: center;
    width: 90%;
  }

  .event-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 80%;
  }

  .event-item{
    align-items: baseline;
  }

  .events-content {
    max-width: 1000px;
  }

  .event-item img{
    margin-bottom: 10px;
  }
}
